body {
	margin:25px;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
	position:absolute;
	top:150px;
	left:500px;
	z-index: 200;
}

h2 {
	position:absolute;
	top:260px;
	left:450px;
}

#controls {
  background-color: #fff;
  position: fixed;
  top:20px;
  left: 20px;
  z-index:1000;
}

#container {
  height: 600px;
  width:2120px;
}

.item {
  width: 94px;
  height: 78px;
  margin: 6px;
  opacity: 0;
  /*float: left;*/
}

.red { background: #E8716F; }
.blue { background: #9CDEFF; }
.green { background: #A0E8A1; }
.yellow { background: #FFE192; }

/* 
widthbyheight
*/
.threebyone {
	width: 306px;
}
.twobyone {
  width: 200px;
}
.fourbythree {
  width: 412px;
  height: 258px;
}
/*
from email: 1000px by 700px, the cells are at 106 x 78px so the column widths are 78px with gutters of 11px. 
from layout: images are 78x94, gutters 11px
*/


/* isotope animation */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}