body {
	margin:25px;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#container {
  border: 1px solid #f3f3f4;
  height: 600px;
}

.item {
  width: 94px;
  height: 78px;
  margin: 6px;
  float: left;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }

/* 
widthbyheight
threebyone 
twobyone
fourbythree
*/

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* End: Recommended Isotope styles */

/*
from email: 1000px by 700px, the cells are at 106 x 78px so the column widths are 78px with gutters of 11px. 
from layout: images are 78x94, gutters 11px
*/