body {
	margin:25px;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
	position:absolute;
	top:23px;
	left:50px;
	z-index: 200;
}

h2 {
	position:absolute;
	top:160px;
	left:450px;
}

#controls {
  position: fixed;
  top:20px;
  left: 20px;
  z-index:1000;
}

#container {
  border: 1px solid red;
  height: 600px;
  width:1600px;
}

.item {
  width: 94px;
  height: 78px;
  margin: 6px;
  /*float: left;*/
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }

/* 
widthbyheight
*/
.threebyone {
	width: 306px;
}
.twobyone {
  width: 200px;
}
.fourbythree {
  width: 412px;
  height: 258px;
}
/*
from email: 1000px by 700px, the cells are at 106 x 78px so the column widths are 78px with gutters of 11px. 
from layout: images are 78x94, gutters 11px
*/