body {
	margin:36px;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#container {
  border: 1px solid;
  height: 500px;
}

.item {
  width: 78px;
  height: 98px;
  margin: 0 11px 11px 0;
}

.red { background: red; width: 156px  }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* End: Recommended Isotope styles */

/*
from email: 1000px by 700px, the cells are at 106 x 78px so the column widths are 78px with gutters of 11px. 
from layout: images are 78x94, gutters 11px
*/