/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: David Thompson
   ========================================================================== */
html, body {
  background-color: #ffffd9;
  font-family: Helvetica, Arial, sans-serif;
}
p, a {
  font-size: 0.8em;
  line-height: 1.2em;
  color: #58585a;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.1em;
  color: #58585a;
}
a {
  font-size: 1em;
  display: block;
  text-decoration: none;
  font-style: italic;
}
/* header */
div#header-wrapper {
  position: fixed;
  width: 100%;
  height: 95px;
  background: rgba(251, 251, 251, 0.8);
  z-index: 995;
}
header {
  position: fixed;
  width: 1000px;
  height: 95px;
  left: 50%;
  margin-left: -500px;
  text-align: center;
  z-index: 1000;
}
header h1 {
  padding:0;
  margin:0;
}
header h1 img {
  width: 85px;
  height: 18px;
  padding-top: 30px;
}
header a.logo {
  position:absolute;
  top:30px;
  left: 75px;
}
header a.logo img {
  width: 18px;
  height: 18px;  
}
header img#V_4 {
  position:absolute;
  width: 16px;
  height: 17px; 
  top: 30px;
  right: 75px;   
}
/* main */
div#main {
  margin: 0px auto;
  position: relative;
  width: 1000px;
  height: 5600px;
  background-color: #ffffd9;
}
div#main img {
  position: absolute;
  border: 0;
}
div#main img#V_5 {
  top: 148px;
  left: 240px;
  width: 518px;
  height: 467px;
}
img#V_6 { top:600px; left: 97px; width:110px; height: 126px }
img#V_7 { top:599px; left: 777px; width:111px; height: 490px }
img#V_8 { top:761px; left: 570px; width:80px; height: 68px; }
img#V_9 { top:706px; left: 436px; width:401px; height: 406px }
img#V_10 { top:750px; left: 185px; width:222px; height: 167px }
img#V_11 { top:614px; left: 495px; width:13px; height: 299px }
img#V_12 { top:1050px; left: 598px; width:106px; height: 85px }
img#V_13 { top:1178px; left: 376px; width:239px; height: 239px }
img#V_14 { top:1186px; left: 148px; width:13px; height: 299px }
img#V_15 { top:1712px; left: 113px; width:80px; height: 47px }
img#V_16 { top:1961px; left: 153px; width:79px; height: 89px }
img#V_17 { top:1662px; left: 278px; width:440px; height: 450px; z-index: 200; }
img#V_18 { top:1600px; left: 577px; width:320px; height: 320px; z-index: 100; }
img#V_19 { top:2144px; left: 492px; width:13px; height: 299px }
img#V_20 { top:2133px; left: 818px; width:81px; height: 81px }
img#V_21 { top:2324px; left: 620px; width:175px; height: 38px }
img#V_22 { top:2495px; left: 161px; width:679px; height: 568px; z-index: 5; }
img#V_23 { top:2757px; left: 279px; width:142px; height: 173px; z-index: 16; }
img#V_24 { top:3005px; left: 404px; width:131px; height: 173px; z-index: 17; }
img#V_25 { top:2858px; left: 585px; width:164px; height: 173px; z-index: 18; }
img#V_26 { top:3129px; left: 740px; width:141px; height: 173px; z-index: 19; }
img#V_27 { top:2657px; left: 217px; width:142px; height: 173px; z-index: 6; }
img#V_28 { top:2919px; left: 344px; width:131px; height: 173px; z-index: 7; }
img#V_29 { top:3000px; left: 526px; width:164px; height: 173px; z-index: 8; }
img#V_30 { top:2780px; left: 842px; width:126px; height: 125px }
img#V_31 { top:3388px; left: 840px; width:126px; height: 125px }
img#V_32 { top:3514px; left: 840px; width:126px; height: 125px }
img#V_33 { top:3640px; left: 712px; width:126px; height: 125px }
img#V_34 { top:3717px; left: 244px; width:63px; height: 80px }
img#V_35 { top:3093px; left: 828px; width:149px; height: 343px }
img#V_36 { top:3514px; left: 712px; width:126px; height: 125px }
img#V_37 { top:3831px; left: 492px; width:13px; height: 221px }
img#V_38 { top:4121px; left: 0px; width:1000px; height: 600px }
img#V_39 { top:4798px; left: 492px; width:13px; height: 221px }
img#V_40 { top:5846px; left: 411px; width:177px; height: 210px }
img#V_41 { top:3256px; left: 682px; width:141px; height: 173px; z-index: 9; }
img#V_42 { top:3250px; left: 98px; width:348px; height: 80px }
img#V2_4 { top:434px; left: 790px; width:107px; height: 152px }


.callout {
  position: absolute;
  color: #ff2b06;
}
p#idea {
  top: 923px;
  left: 161px;
  width: 260px;
}
p#band {
  top: 2375px;
  left: 711px;
  width: 214px;  
}
p#band a {
  font-style: italic;
  margin: 0;
  padding: 0;
  display: inline;
  line-height: 1.2em;
  color: #ff2b06;
}
p#band a:visited, p#band a:active {
 color: #ff2b06;
} 
p#band a:hover {
  text-decoration: underline;
}
p#about-1 {
  top: 3418px;
  left: 160px;
  width: 255px;  
}
p#about-2 {
  top: 3418px;
  left: 435px;
  width: 255px;  
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
